:root {
  --a-color: #aaa;
  --bg-color: #000;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.25em;
  height: 100%;

  background-image: none;
  transition: .25s background-image;

}

a {
  color: #fff;
}

img.gh-logo {
  margin: 0 .3em;
  height: .7em;
  width: .7em;
}

#master-of-puppets {
  height: 100%;
  background-color: var(--bg-color);
  transition: .5s background-color;
  overflow: auto;
}

#satumaa-tango {
  font-size: 2.5em;
  background-image: url('../images/shadow.png');
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
  height: 100%;
  min-width: 555px;
  position: fixed;
}

#satumaa-tango img.logo {
  position: absolute;
  top: 50%;
  left: 68px;
  transform: translateY(-50%);
  width: 357px;
  max-width: 90%;
}

#saturday-night {
  float: left;
  left: 580px;
  position: relative;
  max-width: 456px;
  margin: 5em auto;
}

#saturday-night h2 {
  letter-spacing: -.05em;
  font-size: 2em;
  margin: 0 0 .75em 0;
}

#saturday-night h2 span {
  color: var(--a-color);
  transition: .5s color;
}

#saturday-night li span {
  transition: .5s color;
  font-size: .75em;
}

#saturday-night h3 {
  letter-spacing: -.05em;
  font-size: 1.4em;
  margin: 1em auto .3em;
}

#saturday-night input,
#saturday-night select {
  margin: 1em;
  font-size: .7em;
}

#saturday-night select {
  max-width: 10em;
}

#saturday-night ul {
  padding: 0;
  margin: 0 0 0 0;
}

#saturday-night ol {
  padding: 0;
  margin: 0 0 0 .4em;
}

#saturday-night ol > li {
  margin: 1em;
}

#saturday-night li {
  margin: .4em 1.5em;
}

#saturday-night hr {
  border: none;
  background: var(--a-color);
  height: 3px;
  margin: 2.75em 0;
}